.footer {
    background-color: var(--footer-background-color);
}

.footer h3 {
    color: var(--footer-header-color)
}

.footer p,
.footer li {
    color: var(--footer-text-color);
    margin: 10px 0;
}