.navbar {
    background: var(--header-background-color);
    @apply left-0 right-0 z-50
}

.navItems {
    color: var(--header-navigation-color)!important;
}

.navigationBurger div {
    width: 25px;
    height: 2px;
    background: var(--mobile-icon-color);
    margin: 4px 0;
    transition: all .1s linear
}