.contactPage ul li {
    @apply my-3
}

@media screen and (max-width: 768px) {
    .hero {
        height: 60vh;
    }
}

/* FORM */

.formContainer {
    border-radius: var(--button-radius);
    @apply block shadow-lg bg-white px-6 pb-12 md:px-12;
}

/* ANNOUNCEMENT BAR */

.announcementBar {
    background-color: var(--announcementbar-background-color);
    color: var(--announcementbar-text-color);
}

/* PRICE */

.priceContainer {
    @apply block shadow-lg bg-white h-full;
    border-radius: var(--button-radius);
}

.priceCta {
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
    border-radius: var(--button-radius);
    @apply px-3 py-2
}